nav.container
  if userId
    span.nav-item Welcome [#{userName}]
  a.nav-item(href="/articles") Articles
  if !userId
    a.nav-item(href='/register') Sign Up
  a.nav-item(href='/profile') Profile
  if userId
    a.nav-item(href='/logout') Logout
  else
    a.nav-item(href='/login') Login