extends layout

block content
  form(action='/register', method='post')
    div
      label(for='name') Name:
      input(type='text', name='name', placeholder='fullname')
    div
      label(for='email') Email: 
      input(type='text', name='email', placeholder='name@email.com')
    div
      label(for='password') Password:
      input(type='password', name='password')
    div
      label(for='confirmPassword') Confirm Passowrd:
      input(type='password', name='confirmPassword')
    input(type="submit")