extends ../layout

block content
  h2= article.title
  include by_line
  p= article.body
  a(href="../") &larr; Back 
  if userId === article.UserId
    | | 
    a(href="/articles/" + article.id + "/edit") Edit Article 
    | | 
    a(href="/articles/" + article.id + "/delete") Delete Article
  br
  br
  include ../comments/index